.about {
    &__img {
        border-radius: 8px;
    }
    &__subheader {
        color: var(--c-white);
        font-size: clamp(1.25rem, 0.9943rem + 1.1364vw, 2rem);
        margin: 0;
        font-weight: 700;
    }
}