.qualifications {
    position: relative;
    &__container {
        display: grid;
        @media(min-width: 1200px) {
            grid-template-columns: minmax(0, 47%) minmax(0, 53%);
        }
    }
    &__grid {
        display: grid;
        gap: 2em 1em;
        @media(min-width: 576px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @media(min-width: 768px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
        @media(min-width: 1200px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @media(min-width: 1366px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
    &__description {
        font-size: clamp(1rem, 0.8722rem + 0.5682vw, 1.375rem);
        line-height: 1.45;
        margin-bottom: 2em;
    }
    &__left {
        position: relative;
        z-index: 3;
    }
    &__right {
        z-index: 1;
        position: relative;
        pointer-events: none;
        @media(max-width: 1199px) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.25;
        object-position: center;
        @media(min-width: 768px) {
            object-position: left center;
        }
        @media(min-width: 1200px) {
            object-fit: none;
            object-position: unset;
            position: absolute;
            right: 0;
            top: -5%;
            height: 110%;
            width: auto;
            max-width: 115%;
        }
    }
    &__item {
        text-align: center;
        svg {
            max-height: 4em;
            width: auto;
            height: auto;
            margin: 0 auto 1.5em;
            display: block;
            color: vaR(--c-accent);
        }
        &-title {
            font-size: clamp(1.125rem, 0.9972rem + 0.5682vw, 1.5rem);
            font-weight: 700;
            margin: 0 auto 1em;
            text-wrap: balance;
        }
        &-description {
            font-size: clamp(0.875rem, 0.8324rem + 0.1894vw, 1rem);
            text-wrap: balance;
            opacity: 0.7;
        }
    }
}