:root {
    [data-theme="light"] {
        display: block;
    }
    [data-theme="dark"] {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        [data-theme="light"] {
            display: none;
        }
        [data-theme="dark"] {
            display: block;
        }
    }
}

:root[data-theme="light"] {
    [data-theme="light"] {
        display: block;
    }
    [data-theme="dark"] {
        display: none;
    }
}

:root[data-theme="dark"] {
    [data-theme="light"] {
        display: none;
    }
    [data-theme="dark"] {
        display: block;
    }
}