:root {
    color-scheme: dark;
    --font-main: Inter, Arial, sans-serif;
    --c-accent: #FFC400;
    --c-white: #ffffff;
    --c-black: #1a1b1c;
    --c-text: #ffffff;
    --bg-item: #232526;
    --bg-main: #1a1b1c;
    --bg-dark: #061C2B;
    --bs-main: none;
    --bs-header: 0 0 164px 82px rgb(26, 27, 28);
}
